@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,200&display=swap");

/* Mayer Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  /* position: relative; */
}

@font-face {
  font-family: "norse-bold";
  src: url(font/webfontkit-20230618-132104/norse-bold_1-webfont.woff2)
      format("woff2"),
    url(font/webfontkit-20230618-132104/norse-bold_1-webfont.woff)
      format("woff");
}

:root.light {
  --background-color-header: whitesmoke;
  --background-color-main: rgba(255, 255, 255, 0.917);
  --color-font-head: rgb(42, 40, 40);
  --color-font-detail: rgb(132, 143, 156);
  --border-bottom-input: rgb(35, 33, 33);
  --color-button: rgb(183, 66, 48);
  --color-link: var(--color-font-head);
}

:root.dark {
  --background-color-header: rgb(183, 66, 48);
  --background-color-main: rgba(57, 54, 54, 0.917);
  --color-font-head: whitesmoke;
  --color-font-detail: rgb(132, 143, 156);
  --border-bottom-input: rgb(35, 33, 33);
  --color-button: var(--background-color-header);
  --color-link: var(--background-color-header);
}

body {
  /* System font */
  font-family: "Poppins", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  background-color: var(--background-color-header);
}

@keyframes refreshMobile {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    transform: translateY(inherit);
    opacity: 1;
  }
}

@keyframes refreshDesktop {
  0% {
    transform: translate(10px, -15px);
    opacity: 0;
  }
  100% {
    transform: translate(inherit, inherit);
    opacity: 1;
  }
}

.fa-sun,
.fa-moon {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 2;
  transition: all 0.7s ease-in-out;
}

.fa-sun:hover {
  transform: rotate(90deg);
}

.fa-moon:hover {
  transform: rotate(-150deg);
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
  animation: refreshMobile 2s forwards;
}

.logo {
  position: relative;
  width: 350px;
  margin: 0 auto;
  margin-top: 30px;
  font-family: "norse-bold";
  font-size: 5rem;
  letter-spacing: 0.45rem;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.logo:hover {
  animation: shake 0.4s infinite;
}

.sub_logo {
  position: absolute;
  bottom: -0.8em;
  right: 0;
  font-size: 1.5rem;
}

img {
  height: 100%;
  margin-bottom: -8px;
}

.logo-img {
  width: 5rem;
}

.library-img {
  width: min(75%, 418px);
  margin-top: 30px;
}

.container {
  padding: 25px 5px;
  background-color: var(--background-color-main);
  color: var(--color-font-detail);
  font-size: 1rem;
  letter-spacing: 1.3px;

  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 30px;

  animation: refreshMobile 2s forwards;
}

.fa-angles-down {
  position: absolute;
  left: 48%;
}

.sign-up {
  color: var(--color-font-head);
  font-size: 2.8em;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 23px;
}

p,
.form-header,
.log-in {
  color: var(--color-font-head);
}

.form-header > span {
  font-style: italic;
  font-size: small;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 60px;
}

form div {
  position: relative;
}

label {
  display: block;
  position: absolute;
  top: 0.5em;
  text-align: left;
  font-weight: bold;
  font-size: 0.9em;
  transition: all 0.7s ease-out;
}

input {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 200px;
  padding-top: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1.8px solid var(--border-bottom-input);
  color: var(--color-font-head);
  font-size: 14px;
  letter-spacing: 1.3px;
  transition: all 0.8s ease-in-out;
}

input:focus,
input:not(:placeholder-shown) {
  outline: none;
  border: 1px solid var(--color-button);
  border-radius: 2px;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  transform: translate(10px, -24px);
  background-color: var(--color-button);
  padding: 0 4px;
  border-radius: 2px;
  color: white;
  font-size: small;
}

.check::after,
.pwd-check {
  position: absolute;
  margin-top: 7px;
  margin-left: 10px;
}

input:not(input[name="confirm_password"]):valid ~ .check::after {
  content: "";

  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f058";
  color: rgb(73, 224, 68);
}

.error {
  display: block;
  position: absolute;
  width: 280px;
  color: red;
  text-align: left;
  font-size: 11px;
  margin-top: 0.5em;
}

button {
  background-color: var(--color-button);
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 15px;
  font-size: 15px;
  letter-spacing: 1.3px;
  color: white;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.04);
}

.log-in {
  margin-top: 10px;
  font-size: small;
  font-weight: lighter;
}

.log-in > a {
  color: var(--color-link);
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 700px) {
  body {
    display: flex;
    justify-content: space-between;
  }

  header,
  .container {
    animation: refreshDesktop 2s forwards;
  }

  header {
    flex: 1;
  }

  .container {
    flex: 2;
    height: 100%;
  }

  .fa-angles-down {
    visibility: hidden;
  }

  .image-container {
    margin-top: calc((var(--scroll) / 3) + 10px);
  }

  .library-img {
    width: 418px;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    flex: 2;
  }

  .form-content {
    flex-direction: row;
    justify-content: center;
    column-gap: min(20%, 50px);
    row-gap: 70px;
    flex-wrap: wrap;
  }

  .library-img {
    width: min(80%, 470px);
  }

  .container {
    row-gap: 60px;
    height: 100vh;
  }

  .form-submit {
    margin-top: -40px;
    left: -100px;
    text-align: left;
  }
}

/* overlay */
.overlay {
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

:root.overlay {
  --background-color: whitesmoke;
  --color-font-message: rgba(57, 54, 54, 0.917);
  --background-color-floor: #7b3f00;
}

body.overlay {
  background-color: var(--background-color);
}

.header-overlay {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
  animation: none;
}

.logo-overlay {
  position: relative;
  width: 350px;
  margin-left: 20px;
  margin-top: 30px;
  font-family: "norse-bold";
  font-size: 5rem;
  letter-spacing: 0.45rem;
}

.logo-overlay:hover {
  animation: shake 0.4s infinite;
}

.sub_logo-overlay {
  position: absolute;
  bottom: -0.8em;
  right: 0;
  font-size: 1.5rem;
}

.main-overlay {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.msg {
  flex: auto;
  padding-left: 15%;
  font-size: 30px;
  text-align: left;
  color: var(--color-font-message);
}

.logo-img-overlay {
  width: 5rem;
  margin-bottom: -8px;
}

.image-container-overlay {
  flex: 1;
  align-self: center;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: -120px;
}

img.boy,
img.girl {
  height: 100%;
  width: min(50%, 340px);
}

.girl {
  margin-top: -70px;
  margin-left: -80px;
}

.footer-overlay {
  position: sticky;
  background-color: var(--background-color-floor);
  z-index: -1;
  height: min(55vw, 40vh);
  width: 100%;
}
